@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --bg-dark: hsl(0, 0%, 0%);
  --bg-base: hsl(0, 0%, 0%);
  --bg-light: hsl(0, 0%, 10%);

  --text-main: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);

  --accent: rgb(0, 123, 255);
  --accent-rgb: 0, 123, 255;

  --border-color: hsl(0, 0%, 20%);
  --ambient-glow: 0 0 40px -10px rgba(var(--accent-rgb), 0.35);

  --font-size-xs:   0.75rem;
  --font-size-sm:   0.875rem;
  --font-size-base: 1rem;
  --font-size-md:   1.125rem;
  --font-size-lg:   1.25rem;
  --font-size-xl:   1.5rem;
  --font-size-2xl:  2rem;
  --font-size-3xl:  2.5rem;
}

[data-theme="light"] {
  
  --bg-dark: hsl(0, 0%, 90%);
  --bg-base: hsl(0, 0%, 98%);
  --bg-light: hsl(0, 0%, 100%);

  --text-main: hsl(0, 0%, 10%);
  --text-muted: hsl(234, 100%, 14%);

  --accent: rgb(0, 123, 255);
  --accent-rgb: 0, 123, 255;

  --border-color: hsl(0, 0%, 85%);
  --ambient-glow: 0 0 40px -10px rgba(var(--accent-rgb), 0.35);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-base);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
}

[data-theme="light"] .hero-image {
  filter: invert(1);
}

[data-theme="light"] .hero-glow {
  display: none;
}


